.logo {
  height: 90px;
  width: 90px;
  margin: 30px;
  cursor: pointer;
  object-fit: contain;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid tomato;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.Navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 254, 254);
}

.Navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #f55506;
  font-size: 18px;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
  color: tomato;
  font-size: 18px;
  font-weight: bold;
}

.Navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 2.3px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.Navbar button:hover {
  background-color: tomato;
  color: white;
  transform: scale(1.1);
}

.Navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.Navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

@media (max-width: 1050px) {
  .Navbar .logo {
    width: 140px;
  }
  .Navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 9000px) {
  .Navbar .logo {
    width: 120px;
  }
  .Navbar-menu {
    gap: 20px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
    .Navbar-menu{
       display: none;
    }
   
}
